body {
    background-color: black;
    color: white;
}

/* TABLE */
#attendance-table {
    font-size: 2vw;
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    border: 3px solid green;
    border-radius: 5px;
    border-collapse: collapse;
    padding: 0.5vw;
    text-align: center;
}

/* POPUP WINDOWS */
.popup {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: lightgray;
    border: 3px solid gray;
    border-radius: 10px;
    z-index: 1;
}
input {
    position: absolute;
    width: 25%;
    left: 37.5%;
    height: 5%;
    margin: auto;
    font-size: 2vw;
    color: black;
}
.stackable-input {
    width: 6%;
}
label {
    color: black;
    font-size: 2vw;
    font-family: Calibri;
    position: absolute;
}
#name-inp, #date-inp {
    top: 20%;
}
#name-label, #date-label {
    left: 30%;
    top: 20%;
}
#date-inputs, #name-inputs {
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
}
.col-sm {
    margin-top: 5%;
    width: 100%;
}
#add-person-div {
    display: none;
}
#add-date-div {
    display: none;
}

/* BUTTON */
button {
    width: 20%;
    font-size: 2.5vw;
    color: orange;
    position: absolute;
    top: 90%;
    border-radius: 5px;
}

#add-person, #add-date, #export, #sort {
    position: relative;
    margin: 3% 2% 3% 2%;
}
#add-person {
    background-color: blue;
}
#add-person:hover {
    background-color: #0000aa;
}
#add-date {
    background-color: #df1272;
}
#add-date:hover {
    background-color: #df1272bc;
}
#add-name-button, #add-date-button {
    left: 25%;
    top: 85%;
    background-color: #06d706;
    color: black;
}
#add-name-button:hover, #add-date-button:hover {
    background-color: #06b206;
}
#cancel-name, #cancel-date {
    right: 25%;
    top: 85%;
    background-color: red;
    color: black;
}
#cancel-name:hover, #cancel-date:hover {
    background-color: darkred;
}
#export {
    background-color: green;
}
#export:hover {
    background-color: darkgreen;
}
#sort {
    background-color: red;
}
#sort:hover {
    background-color: darkred;
}

/* IMAGES */
.remove-img {
    display: block;
    width: 25%;
    cursor: pointer;
}
.plus-img, .minus-img {
    width: 10%;
    cursor: pointer;
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
}

/* P */
.point-value {
    display: inline-block;
}